body {
    padding-top: 120px;
}

.bg-brand {
    background: linear-gradient(45deg, #4a0692 0%, #2f0060 100%);
}

.card {
    width: 13rem;
}

.qrcode {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}