body {
    padding-top: 120px;
}

.jumbotron {
    padding: 2rem 2rem !important;
}

.bg-brand {
    background: linear-gradient(45deg, #212529 0%, #000000 100%);
}

.card {
    width: 13rem;
    margin-top: 1rem;
}

.qrcode {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.count-down-alert {
    text-align: center;
    width: 20em;
    height: 6em;
    padding: 1em;
    margin: auto;
    margin-bottom: 1em;
}